/*
    Austin Jenchi
    CSE 154 19sp AQ
    05/14/2019
    Styles for the message board. Sets the background of the board using images and adds some other
    decorative elements. Adds styles to make elements look like paper with pushpins.
*/
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Kodchasan|Source+Code+Pro');

body {
    background-image: url("img/cork-board.jpg");
    background-repeat: repeat;
    font-family: Kodchasan, sans-serif;
    margin: 0;
}

header, section, footer {
    margin: 8px auto;
    padding: 8px;
}

header, footer {
    text-align: center;
}

header, #api-docs {
    background-color: #ffffff;
    border-radius: 4px;
    /* box-shadow based on Google's Material Web Components Cards
       https://material.io/develop/web/components/cards/ */
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14),
        0 1px 3px 0 rgba(0,0,0,.12);
}

header {
    width: 40vw;
}

main {
    height: 75vh;
}

section, footer {
    width: 80vw;
}

hr {
    border: dashed 0.01em #333333;
    margin: 10px 0;
    width: 300px;
}

pre, .code {
    background: #bbbbbb;
    border: solid 1px #999999;
    border-radius: 4px;
    color: #ff0000;
    font-family: "Source Code Pro", monospace;
    padding: 4px;
    width: 40vw;
}

footer {
    background-color: #123456;
    border-radius: 10px 10px 0 0;
    color: white;
    margin-bottom: 0;
}

.code {
    padding: 2px;
    margin: 0;
}
